.Filter {
    margin-top: 40px;
    box-shadow: 0 2px 9px -3px rgba(0,0,0,.12);
}

.OrderFilter, .OrderFilter-list {
    display: flex;
    padding: 0;
}

.OrderFilter-item {
    margin: 0 10px;
    list-style: none;
}

.OrderFilter-item input {
    display: none;
}

.OrderFilter-title, .OrderFilter-item span {
    padding: 5px;
    font-weight: 700;
}

.OrderFilter-item span {
    display: inline-block;
    text-align: center;
    min-width: 60px;
    border: 2px solid #000;
}

.OrderFilter-item input:checked + span {
    color: #BCD13D;
    border: 2px solid #BCD13D;
}